Checks: '-*,
         bugprone-*,
         cert-*,
         clang-analyzer-*,
         cppcoreguidelines-*,
         fuchsia-multiple-inheritance,
         google-*,
         hicpp-*,
         misc-*,
         modernize-*,
         performance-*,
         readability-*,
         -bugprone-easily-swappable-parameters,
         -bugprone-exception-escape,
         -cert-dcl21-cpp,
         -cert-dcl58-cpp,
         -cert-err58-cpp,
         -cert-env33-c,
         -cert-err33-c,
         -cppcoreguidelines-avoid-c-arrays,
         -cppcoreguidelines-owning-memory,
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-pro-bounds-constant-array-index,
         -cppcoreguidelines-pro-type-reinterpret-cast,
         -hicpp-avoid-c-arrays,
         -hicpp-uppercase-literal-suffix,
         -misc-include-cleaner,
         -modernize-avoid-c-arrays,
         -modernize-use-trailing-return-type,
         -readability-else-after-return,
         -readability-function-cognitive-complexity,
         -readability-identifier-length,
         -readability-implicit-bool-conversion,
         -readability-magic-numbers,
         -readability-uppercase-literal-suffix,
         -readability-use-anyofallof'
FormatStyle: 'file'

WarningsAsErrors: '*'

CheckOptions:
  - key: hicpp-special-member-functions.AllowSoleDefaultDtor
    value: 1
