[Desktop Entry]
Type=Application
Version=1.0
Name=CachyOS Kernel Manager
Name[it]=Gestore del Kernel di CachyOS
Name[ja]=CachyOS カーネルマネージャー
Name[ru]=Менеджер ядер CachyOS
GenericName=Kernel Manager
GenericName[it]=Gestore del Kernel
GenericName[ja]=カーネルマネージャー
GenericName[ru]=Менеджер ядер
Keywords=cachyos;system;kernel;
Keywords[it]=cachyos;sistema;kernel;
Keywords[ja]=cachyos;system;kernel;システム;カーネル
Keywords[ru]=cachyos;system;kernel;система;ядро;
Exec=cachyos-kernel-manager
Comment=Manage kernels
Comment[it]=Gestisci i kernel
Comment[ja]=カーネルを管理
Comment[ru]=Управление ядрами
Icon=org.cachyos.KernelManager
Terminal=false
StartupNotify=false
Categories=Qt;System;
X-AppStream-Ignore=true
